
#container {
    display: table;
    }

    #row  {
    display: table-row;
    }

    #left, #right, #middle {
    display: table-cell;
    margin: 0.2rem 2rem;
    padding: 0.2rem 2rem;
    }
thead {
    background-color: #EEEEEE;
    font-size: 1.4rem;
    font-weight:bold;
}

#info {
	margin: 65px auto 0;
	color: #bfbfbf;
	font-size: 10px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	text-align: center;
}